
<%- include('partials/head') %>

    
    <link rel="stylesheet" href="/css/stylecarrito.css">

        
</head>

<body>

    <%- include('partials/header') %>

    <main class="cuerpo">
        <section class=compra-segura>
            <i class="fa-solid fa-lock"></i> Compra Segura 
        </section>
        <section>      
            <h2>
                <i class="fa-solid fa-cart-shopping"></i> Mi Carrito de Compras
            </h2>
        </section>  
        <div class="contenedorPadre">    
            <div class="contcol1">
                <div class="encabezadoCarrito"> <!-- se desplega lista al pasar a desktop-->
                    <ul class="haciaIzquierda">
                    <li>PRODUCTO</li>            
                    </ul>
                    <ul class="haciaDerecha">
                    <li>CANTIDAD</li>
                    <li>PRECIO</li>
                    </ul>                                    
                </div> <!--fin div encabezado que se despliega al pasar a desktop-->

                <div class="artcarrito"> <!--inicio producto1-->
                    <div class="imagen">
                        <img width=70px heigth= 70px src="/img/EUKANUBA-grande1.jpg" alt="producto1">
                     </div>
                    <div class="subcont1">
                        <div class="productoTexto">
                        <p class="marca">EUKANUBA</p>
                        <p class="brevedescripción">RAZAS PEQUEÑAS, PERROS MAYORES A 1 AÑO, BOLSA 3KG</p>
                        </div>
                    <div class="subcont2">
                        <div class="cantiPrecio">
                            <p class="cantidad">- Num +</p>
                            <p class="precio">$4.200</p>
                        </div>
                        <div class="botonEliminar">
                            <span class="eliminar">Eliminar</span>  <button type="reset" class="elim"><i class="fa-solid fa-trash-can"></i></button>  
                        </div>
                    </div>
                    </div>
                </div>  <!--finProducto1-->      
                       
    

                <div class="artcarrito"> <!--inicio producto2-->
                    <div class="imagen">  
                       <img width=70px heigth= 70px src ="/img/<%= products.imagen %>" alt="producto2">
                    </div>
                    <div class="subcont1">
                        <div class="productoTexto">           
                            <p class="marca"><%= products.marca %></p>
                            <p class="brevedescripción"><%= products.descripcion %></p>
                        </div>
                    <div class="subcont2">
                        <div class="cantiPrecio">
                            <p class="cantidad">- Num +</p>    
                            <p class="precio">$ <%= products.precio %></p>
                        </div>
                        <div class="botonEliminar">
                            <span class="eliminar">Eliminar</span>  <button type="reset" class="elim"><i class="fa-solid fa-trash-can"></i></button>  
                        </div>
                    </div>             
                    </div>    
                </div> <!--finProducto2-->  
            </div> <!--fincontcol1-->
            
            <div class="contcol2">
            <section class="finalCompra">  
            <h2 class="resumen">Resumen de mi Orden</h2>
            
            <button type="submit" class="cupon"><i class="fa-solid fa-tag"></i> Agregar Cupon de Descuento Aquí</button> 
            </section>  
            <section class="finalCompra">      
            <h3>Descuentos</h3>
            <h3 class="subtotal">Subtotal <span>$15.000</span></h3>
            <h3 class="envio">Envio <span>GRATIS</span></h3>
            <h3 class="total">Total con Envío <span>$15.000</span></h3>
            <div class="finalizarcompra">
                <button type="submit" class="botonFin" >FINALIZAR COMPRA</button>
            </div>
            </div>

        </div>
        <br>
    </main>
    
    <%- include('partials/footer') %>

    </body>
    </html>  