<%- include('partials/head') %>
   
<link rel="stylesheet" href="/css/stylecreacionproducto.css">     
      
</head>

<body>
    
    <%- include('partials/header') %>

    <main>

        <ul class="erroresCreacProd">   <!-- ERRORES FRONTEND-->
            <li></li>
        </ul>

        <% if(typeof(errores) != 'undefined') {%>    <!-- ERRORES DE BACKEND. -->
            
            <ul class = 'erroresCreacProd'>

                <% errores.forEach(error => { %>
                    <li> <%= error.msg%></li>
               <%}) %>
            </ul>
            
            <%}%>
        


        <form  method="post" action="/products/creacionproducto" enctype="multipart/form-data" class="creacionProd">

            <div class="titulo-creacion">
                <p >Creacion Producto</p>

            </div>
               
            <div class="enlaceEdit"> 
                
                                            <!-- href="/products/edit">  redireccion a la vista de edicionporsku, segun archivo rutas.-->
                <a class = "EnlaceEditar" href="/products/edit">Editar Producto</a>
         
            </div> 

            <fieldset class ="fieldset-producto">
                <legend>Producto</legend>     
    
                
                <div class = "nombre-producto">
                    <label for="nombreProducto">Nombre</label>
                    <input class="nombreprod" type="text" name="nombre" id="nombreProducto" placeholder="Nombre del producto"  autocomplete="on" value="<%= typeof(old) != 'undefined' ? old.nombre : '' %>">

                </div>

                    
                <div class = "descripcion-producto">
                    <label for="descripcionProducto">Descripción</label>
                    <input class="descriProd" type="text" name="descripcion" id="descripcionProducto" placeholder="Descripcion del producto"  autocomplete="on" value="<%= typeof(old) != 'undefined' ? old.descripcion : '' %>">

                </div>


                <!-- <div class = "marca-producto">
                    <label for="marcaProducto">Marca</label>
                    <input class="marcaProd" type="text" name="marca" id="marcaProducto" placeholder="Marca del producto"  autocomplete="on">
    
                </div> -->

                <fieldset>
                    <legend>Marcas</legend>
                    <div class="marca-producto">
                        <select name="marca" id="marca">
                            <option value="" disabled selected>- Seleccione la Marca - </option>
                            <% allBrand.forEach(brand=> { %>
                                <option value="<%= brand.id %>">
                                    <%= brand.brand %>
                                </option>
                                <% }); %>
                        </select>
                    </div>
                </fieldset>
                  

                <div class="archivos">
                    <div class = "imagen-producto">
                        <label for="imagenProducto">Imagen</label>
                        <div class="imgProd">
                            <input type="file" name="imagen" id="imagenProducto" multiple>
                        </div>
                    </div>


                    <!-- <div class = "ArchivoAdjunto">
                        <label for="Adjunto">Adjunto</label>
                        <div class="ArcAdj">
                            <input type="file" name="imagen" id="Adjunto">
                        </div>
                    </div>

                    <div class = "ArchivoAdjunto2">
                        <label for="Adjunto2">Adjunto</label>
                        <div class="ArcAdj">
                            <input type="file" name="imagen" id="Adjunto2">
                        </div>
                    </div> -->

                </div>
            </fieldset>

            <div class = "categoria-animal">
                <fieldset>
                    <legend>Categoría - Animales</legend>

                    <div>
                        <select name="categoriaAnimal" id="categoriaAnimal" >
                            <option value="" disabled selected>- Seleccione la categoria - </option>
                            <% allCategory.forEach(category => { %>
                            <option value="<%= category.id %>"><%= category.animalType %></option>
                            <% }); %>
                        </select>
                    </div>
                    
                    <!-- <div>
                        <label for="perro"><input class="categPerro" type="radio" name="categoriaAnimal" id="perro" value="1">Perro</label>
                        
                     </div>

                    <div>
                        <label for="gato"><input class="categGato" type="radio" name="categoriaAnimal" id="gato" value="2">Gato</label>
                        
                    </div>

                    <div>
                        <label for="pez"><input class="categPez" type="radio" name="categoriaAnimal" id="pez" value="3">Pez</label>
       
                    </div>

                    <div>
                        <label for="ave"><input class="categAve" type="radio" name="categoriaAnimal" id="ave" value="4">Ave</label>
                        
                    </div> -->


                </fieldset>
               
            </div>

            <div class = "categoria-producto">

                <fieldset class="categoria-fieldset-producto">

                    <legend>Categoría - Productos</legend>
                                                                    <!-- name (subcategoriaProducto) debe ser igual a la clave del dataBase -->
                    <div>
                        <select name="subcategoriaProducto" id="subcategoriaProducto" >
                            <option value="" disabled selected>- Seleccione la subcategoria - </option>
                            <% allSubcategory.forEach(subcategory => { %>
                            <option value="<%= subcategory.name %>"><%= subcategory.name %></option>
                            <% }); %>
                        </select>
                    </div>

                </fieldset>
                
            </div>

            <fieldset>
                <legend>Alimentos - Kg (ATENCIÓN COMPLETE SOLO SI [Categoría - Productos = 'Alimentos'])</legend>


                <div class = "kg-producto">
                    <label for="kilosProducto1">Kg1:</label>
                    <input class="kilosProd" type="number" name="kg1" id="kilosProducto1" placeholder="Cantidad de kg - Opcion 1" value="<%= typeof(old) != 'undefined' ? old.kg : '' %>">
                    <label for="precioProducto1">precio1:</label>
                    <input class="kilosProd" type="number" name="precio1" id="precioProducto1" placeholder="Precio por kg - Opcion 1" value="<%= typeof(old) != 'undefined' ? old.precio : '' %>">
                    <label for="cuotaProducto1">cuotas1:</label>
                    <input class="kilosProd" type="number" name="cantCuotasSegunKg1" id="cuotasProducto1" placeholder="cuotas por kg - Opcion 1" value="<%= typeof(old) != 'undefined' ? old.cantCuotasSegunKg : '' %>" >
                    <label for="stockProducto">stock1:</label>
                    <input class="stoProd" type="number" name="stockAlimento1" id="stockAlimento1" placeholder="Stock inicial del producto" value="<%= typeof(old) != 'undefined' ? old.stock : '' %>">
                </div>

                <div class = "kg-producto">
                    <label for="kilosProducto2">Kg2:</label>
                    <input class="kilosProd" type="number" name="kg2" id="kilosProducto2" placeholder="Cantidad de kg - Opcion 2" value="<%= typeof(old) != 'undefined' ? old.kg : '' %>">
                    <label for="precioProducto2">precio2:</label>
                    <input class="kilosProd" type="number" name="precio2" id="precioProducto2" placeholder="Precio por kg - Opcion 2" value="<%= typeof(old) != 'undefined' ? old.precio : '' %>">
                    <label for="cuotaProducto2">cuotas2:</label>
                    <input class="kilosProd" type="number" name="cantCuotasSegunKg2" id="cuotasProducto2" placeholder="cuotas por kg - Opcion 2" value="<%= typeof(old) != 'undefined' ? old.cantCuotasSegunKg : '' %>" >
                    <label for="stockProducto">stock2:</label>
                    <input class="stoProd" type="number" name="stockAlimento2" id="stockAlimento2" placeholder="Stock inicial del producto" value="<%= typeof(old) != 'undefined' ? old.stock : '' %>">
                </div>

                <div class = "kg-producto">
                    <label for="kilosProducto3">Kg3:</label>
                    <input class="kilosProd" type="number" name="kg3" id="kilosProducto3" placeholder="Cantidad de kg - Opcion 3" value="<%= typeof(old) != 'undefined' ? old.kg : '' %>">
                    <label for="precioProducto3">precio3:</label>
                    <input class="kilosProd" type="number" name="precio3" id="precioProducto3" placeholder="Precio por kg - Opcion 3" value="<%= typeof(old) != 'undefined' ? old.precio : '' %>">
                    <label for="cuotaProducto3">cuotas3:</label>
                    <input class="kilosProd" type="number" name="cantCuotasSegunKg3" id="cuotasProducto3" placeholder="cuotas por kg - Opcion 3" value="<%= typeof(old) != 'undefined' ? old.cantCuotasSegunKg : '' %>">
                    <label for="stockProducto">stock3:</label>
                    <input class="stoProd" type="number" name="stockAlimento3" id="stockAlimento3" placeholder="Stock inicial del producto" value="<%= typeof(old) != 'undefined' ? old.stock : '' %>">
                </div>
        
            </fieldset>
      
            <fieldset>
                <legend>Precio (ATENCIÓN COMPLETE SOLO SI [Categoría - Productos NO ES 'Alimentos'])</legend>


                <div class = "precio-producto">
                    <label for="precioProducto">AR$</label>
                    <input class="precioProd" type="number" name="costo" id="precioProducto" placeholder="Precio del producto"  autocomplete="on" value="<%= typeof(old) != 'undefined' ? old.costo : '' %>">

                </div>
        

            </fieldset>


            <fieldset>
                <legend>Descuento (ATENCIÓN COMPLETE SOLO SI [Categoría - Productos NO ES 'Alimentos'])</legend>


                <div class = "descuento-producto">
                    <label for="descuentoProducto">%</label>
                    <input class="descuentoProd" type="number" name="descuento" id="descuentoProducto" placeholder="Descuento del producto"  autocomplete="on" value="<%= typeof(old) != 'undefined' ? old.descuento : '' %>">

                </div>
        

            </fieldset>


            <fieldset>
                <legend>Cantidad de cuotas (ATENCIÓN COMPLETE SOLO SI [Categoría - Productos NO ES 'Alimentos'])</legend>


                <div class = "cuotas-producto">
                    <label for="cuotasProducto">Cuotas:</label>
                    <input class="cuotasProd" type="number" name="cantidadCuotas" id="cantidadCuotas" placeholder="Cantidad de cuotas del producto" value="<%= typeof(old) != 'undefined' ? old.cantidadCuotas : '' %>">

                </div>
        

            </fieldset>

            <fieldset>
                <legend>Stock (ATENCIÓN COMPLETE SOLO SI [Categoría - Productos NO ES 'Alimentos'])</legend>


                <div class = "stock-producto">
                    <label for="stockProducto">Stock:</label>    
                    <input class="stoProd" type="number" name="stock" id="stock" placeholder="Stock inicial del producto" >

                </div>
        

            </fieldset>
        
            <div class = "botones">
                <button type="submit" class="botonIngresar">Ingresar</button>
                <button type="reset" class="botonReset">Restablecer</button>
            </div>      

        </form>

</main>

<%- include('partials/footer') %>

        <!-- <script src="/js/validacionProdCreac.js"></script>    -->

</body>

</html>
