<!-- PENDIENTES

1- AUTOMATIZAR EL TEMA DEL STOCK.
2-

-->

<%- include('partials/head') %>
   
<link rel="stylesheet" href="/css/styleedicionproducto.css">     
      
</head>

<body>
    
    <%- include('partials/header') %>

    <main>

   

        <form method="POST" action="/products/<%= products.sku %>?_method=PUT" enctype="multipart/form-data">

          
            <div class="titulo-edicion">
                <p >Edición Producto</p>
            </div>

          
            <fieldset class ="fieldset-producto">
                <legend>Producto</legend>             
    
                <div class = "botonBuscar">

                    <p class='edicionProductonro'> Edicion de producto: <%= products.sku %> </p>
                    <input class ="botonReset" type="reset" name="reset" value="Restablecer" />
                    
                
                </div> 

                              
                <div class = "nombre-producto">
                    <label for="nombreProdcuto">Nombre: <%= products.name %></label>
                    <input class="nombreprod" type="text" name="nombre" id="nombreProdcuto" placeholder="Nombre del producto" >

                </div>

                    
                <div class = "descripcion-producto">
                    <label for="descripcionProdcuto">Descripción: <%= products.description %></label>
                    <input class="descriProd" type="textArea" name="descripcion" id="descripcionProdcuto" placeholder="Descripcion del producto">

                </div>


                <!-- <div class = "marca-producto">
                    <label for="marcaProducto">Marca:</label>
                    <input class="marcaProd" type="text" name="marca" id="marcaProducto" placeholder="Marca del producto">
    
                </div> -->

                <fieldset>
                    <legend>Marca: <%= products.brands[0].brand %></legend>
                    <div class="marca-producto">
                        <select name="marca" id="marca">
                            <option value="" disabled selected>- Seleccione la Marca - </option>
                            <% allBrand.forEach(brand=> { %>
                                <option value="<%= brand.id %>">
                                    <%= brand.brand %>
                                </option>
                                <% }); %>
                        </select>
                    </div>
                </fieldset>
    
              
                <div class="archivos">
                    <div class = "imagen-producto">
                        <label for="imagenProducto">Imagen</label>
                        <div class="imgProd">
                            <input type="file" name="imagen" id="imagenProducto" multiple>
                        </div>
                    </div>


                  
                </div>
            </fieldset>

            <div class = "categoria-animal">

                <fieldset>
                    <legend>Categoría - Animales: <%= category.animalType %></legend>

                    <div>
                        <select name="categoriaAnimal" id="categoriaAnimal" >
                            <option value="" disabled selected>- Seleccione la categoria - </option>
                            <% allCategory.forEach(category => { %>
                            <option value="<%= category.id %>"><%= category.animalType %></option>
                            <% }); %>
                        </select>
                    </div>
                    <!-- <div>
                        <label for="perro"><input class="categPerro" type="radio" name="categoriaAnimal" id="perro">Perro</label>
                        
                     </div>

                    <div>
                        <label for="gato"><input class="categGato" type="radio" name="categoriaAnimal" id="gato" >Gato</label>
                        
                    </div>

                    <div>
                        <label for="pez"><input class="categPez" type="radio" name="categoriaAnimal" id="pez" >Pez</label>
       
                    </div>

                    <div>
                        <label for="ave"><input class="categAve" type="radio" name="categoriaAnimal" id="ave" >Ave</label>
                        
                    </div> -->


                </fieldset>

            </div>


            <div class = "categoria-producto">
                
                <fieldset class="categoria-fieldset-producto">

                    <legend>Categoría - Productos: <%= products.subcategories.name %></legend>

                    <div>
                        <select name="subcategoriaProducto" id="subcategoriaProducto" >
                            <option value="" disabled selected>- Seleccione la subcategoria - </option>
                            <% allSubcategory.forEach(subcategory => { %>
                            <option value="<%= subcategory.name %>"><%= subcategory.name %></option>
                            <% }); %>
                        </select>
                    </div>
                    <!-- <div>
                    
                        <label for="alimento"><input class="alim" type="radio" name="subcategoriaProducto" id="alimento">Alimentos</label>
                        

                    </div>
                    <div>
                        <label for="juguete"><input class="jugue" type="radio" name="subcategoriaProducto" id="juguete" >Juguetes</label>
                        

                        <label for="camasEInd"><input class="camaeIN" type="radio" name="subcategoriaProducto" id="camasEInd" >Camas e indumentaria</label>
                        
                    </div>
        
                    <div>
                        <label for="PaseosYViajes"><input class="paseo-viaje" type="radio"  id="PaseosYViajes" name="subcategoriaProducto" >Paseos y viajes</label>
                        
                    </div> -->

                </fieldset>

            </div>

            <fieldset>
                <legend>Alimentos - Kg</legend>


                <div class = "kg-producto">
                    <label for="kilosProducto1">Kg1:</label>
                    <input class="kilosProd" type="number" name="kg" id="kilosProducto1" placeholder="Cantidad de kg - Opcion 1" >
                    <label for="precioProducto1">precio1:</label>
                    <input class="kilosProd" type="number" name="precio" id="precioProducto1" placeholder="Precio por kg - Opcion 1" >
                    <label for="cuotaProducto1">cuotas:</label>
                    <input class="kilosProd" type="number" name="cantCuotasSegunKg" id="cuotasProducto1" placeholder="cuotas por kg - Opcion 1" >
                </div>

                <div class = "kg-producto">
                    <label for="kilosProducto2">Kg2:</label>
                    <input class="kilosProd" type="number" name="kg" id="kilosProducto2" placeholder="Cantidad de kg - Opcion 2" >
                    <label for="precioProducto2">precio2:</label>
                    <input class="kilosProd" type="number" name="precio" id="precioProducto2" placeholder="Precio por kg - Opcion 2" >
                    <label for="cuotaProducto2">cuotas:</label>
                    <input class="kilosProd" type="number" name="cantCuotasSegunKg" id="cuotasProducto2" placeholder="cuotas por kg - Opcion 2" >
                </div>

                <div class = "kg-producto">
                    <label for="kilosProducto3">Kg3:</label>
                    <input class="kilosProd" type="number" name="kg" id="kilosProducto3" placeholder="Cantidad de kg - Opcion 3" >
                    <label for="precioProducto3">precio3:</label>
                    <input class="kilosProd" type="number" name="precio" id="precioProducto3" placeholder="Precio por kg - Opcion 3" >
                    <label for="cuotaProducto3">cuotas:</label>
                    <input class="kilosProd" type="number" name="cantCuotasSegunKg" id="cuotasProducto3" placeholder="cuotas por kg - Opcion 3" >
                </div>
        
            </fieldset>

            <fieldset>
                <legend>Precio</legend>


                <div class = "precio-producto">
                    <label for="precioProducto">AR$: <%= products.cost %> </label>
                    <input class="precioProd" type="number" name="precio" id="precioProducto" placeholder="Precio del producto">

                </div>
        

            </fieldset>


            <fieldset>
                <legend>Cantidad de cuotas</legend>


                <div class = "cuotas-producto">
                    <label for="cuotasProducto">Cuotas: <%= products.quotesQuantity %></label>
                    <input class="cuotasProd" type="number" name="cantidadCuotas" id="cantidadCuotas" placeholder="Cantidad de cuotas del producto" >

                </div>
        

            </fieldset>


            <!-- <fieldset>
                <legend>Deposito Entrante unidades.</legend>


                <div class = "depositoEntrante-producto">
                    <label for="depositoProducto">Unidades entrantes:</label>
                    <input class="depoProd" type="number" name="depositoEntrante" id="depositoEntrante" placeholder="Deposito entrate del producto" >

                </div>
        

            </fieldset> -->


            <fieldset>
                <legend>Stock</legend>


                <div class = "stock-producto">
                    <label for="stockProducto">Stock: <%= products.stock %></label>
                    <input class="stoProd" type="number" name="stock" id="stock" placeholder="Stock inicial del producto" >

                </div>
        

            </fieldset>


            <!-- <fieldset>
                <legend>Detalles</legend>
                   
                <div class = "palabras-claves">
                   
                    <textarea class="palabras" id="palabrasClaves" name="palabrasClaves" rows="5" cols="33">Palabras claves...</textarea>

                </div>
            </fieldset> -->


         
            <div class = "botonSobre">

                <input class ="botonSobreescribir" type="submit" name="Sobreescribir" value="Sobreescribir" />
                           

            </div>  

           
                 
        </form>

        <form action="/products/delete/<%=products.sku %>?_method=DELETE" method="POST">
            <button type="submit" class="action-button delete">ELIMINAR</button>
            
        </form>

        


</main>

<%- include('partials/footer') %>



</body>


</html>


