<!-- PENDIENTES

1- AUTOMATIZAR EL TEMA DEL STOCK.
2-

-->

<%- include('partials/head') %>
   
<link rel="stylesheet" href="/css/styleedicionproducto.css">     
      
</head>

<body>
    
    <%- include('partials/header') %>

    <main>

        <ul class="erroresEditProd">  <!-- ERRORES DE FRONTEND. -->
            <li></li>
        </ul>

        <% if(typeof(errores) != 'undefined') {%>    <!-- ERRORES DE BACKEND. -->
            
            <ul class = 'erroresEditProd'>

                <% errores.forEach(error => { %>
                    <li> <%= error.msg%></li>
               <%}) %>
            </ul>
            
            <%}%>
        




        <form method="POST" action="/products/<%= products.sku %>?_method=PUT" enctype="multipart/form-data" class="edicionProd">

          
            <div class="titulo-edicion">
                <a class="titulo-edit" href="/products/edit"><p>Edición Producto</p></a>
            </div>

          
            <fieldset class ="fieldset-producto">
                <legend>Producto</legend>             
    
                <div class = "botonBuscar">

                    <p class='edicionProductonro'> Edicion de producto: <%= products.sku %> </p>
                    <input class ="botonReset" type="reset" name="reset" value="Restablecer" />
                    
                
                </div> 

                              
                <div class = "nombre-producto">
                    <label for="nombreProdcuto">Nombre: <%= products.name %></label>
                    <input class="nombreprod" type="text" name="nombre" id="nombreProducto" placeholder="Nombre del producto" >

                </div>

                    
                <div class = "descripcion-producto">
                    <label for="descripcionProdcuto">Descripción: <%= products.description %></label>
                    <input class="descriProd" type="textArea" name="descripcion" id="descripcionProducto" placeholder="Descripcion del producto">

                </div>

                <fieldset class="fieldset-marca">
                    <legend>Marca: <%= products.brands[0].brand %></legend>
                    <div class="marca-producto">
                        <select name="marca" id="marca">
                            <option value="" disabled selected>- Seleccione la Marca - </option>
                            <% allBrand.forEach(brand=> { %>
                                <option value="<%= brand.id %>">
                                    <%= brand.brand %>
                                </option>
                                <% }); %>
                        </select>
                    </div>
                </fieldset>
    
                <% if (products?.products_images?.length > 0) { %>
              <div class="imagenesDB">
                    <% products.products_images.forEach(img => { %>
                    <div class="imgId">
                        <p>id imagen: <%= img.id %></p>
                        <img src="/images/<%= img.image %>" alt="imagen">
                    </div>
                    <% }); %>    
                </div>
                <% } %>
                <div class="archivos">
                    <div class = "imagen-producto">
                        <div class="inputIdImagen">
                            <label for="imagenProducto">ID de la Imagen</label>
                            <div class="imgProd">
                                <input type="number" name="idImg">
                            </div>
                        </div>
                        <div class="inputIdImagen">
                            <label for="imagenProducto">Imagen</label>
                            <div class="imgProd">
                                <input type="file" name="imagen" id="imagenProducto" multiple>
                            </div>
                        </div>
                    </div>

                </div>
            </fieldset>

            <div class = "categoria-animal">

                <fieldset>
                    <legend>Categoría - Animales: <%= category.animalType %></legend>

                    <div>
                        <select name="categoriaAnimal" id="categoriaAnimal" >
                            <option value="" disabled selected>- Seleccione la categoria - </option>
                            <% allCategory.forEach(category => { %>
                            <option value="<%= category.id %>"><%= category.animalType %></option>
                            <% }); %>
                        </select>
                    </div>


                </fieldset>

            </div>


            <div class = "categoria-producto">
                
                <fieldset class="categoria-fieldset-producto">

                    <legend>Categoría - Productos: <%= products.subcategories.name %></legend>
                    <input class="kilosProd" type="text" name="subcategoriaProducto" id="subcategoriaProducto" value="<%= products.subcategories.name %>" >

                </fieldset>

            </div>

            <% if (products.subcategories.name === 'Alimentos') { %>
                <fieldset>
                <legend>Alimentos - Kg</legend>


                <div class = "kg-producto">
                    <label for="id1">id(<%= products.foods.length > 0 ? products.foods[0]?.id :'not' %>)</label>
                    <input class="kilosProd" type="number" name="idAlimento1" id="id1" placeholder="id del alimento" >
                    <label for="kilosProducto1">Kg1: <%= products.foods.length > 0 ? products.foods[0]?.weight :'not' %></label>
                    <input class="kilosProd" type="number" name="kg1" id="kilosProducto1" placeholder="Cantidad de kg - Opcion 1" >
                    <label for="precioProducto1">precio1: <%= products.foods.length > 0 ? products.foods[0]?.cost_x_bag :'not' %></label>
                    <input class="kilosProd" type="number" name="precio1" id="precioProducto1" placeholder="Precio por kg - Opcion 1" >
                    <label for="cuotaProducto1">cuotas1:</label>
                    <input class="kilosProd" type="number" name="cantCuotasSegunKg1" id="cuotasProducto1" placeholder="cuotas por kg - Opcion 1" >
                    <label for="stockProducto">stock1: <%= products.foods.length > 0 ? products.foods[0]?.stock :'not' %></label>
                    <input class="stoProd" type="number" name="stockAlimento1" id="stockAlimento1" placeholder="Stock inicial del producto">
                </div>

                <div class = "kg-producto">
                    <label for="id2">id(<%= products.foods.length > 0 ? products.foods[1]?.id :'not' %>)</label>
                    <input class="kilosProd" type="number" name="idAlimento2" id="id2" placeholder="id del alimento" >
                    <label for="kilosProducto2">Kg2: <%= products.foods.length > 0 ? products.foods[1]?.weight :'not' %></label>
                    <input class="kilosProd" type="number" name="kg2" id="kilosProducto2" placeholder="Cantidad de kg - Opcion 2" >
                    <label for="precioProducto2">precio2: <%= products.foods.length > 0 ? products.foods[1]?.cost_x_bag :'not' %></label>
                    <input class="kilosProd" type="number" name="precio2" id="precioProducto2" placeholder="Precio por kg - Opcion 2" >
                    <label for="cuotaProducto2">cuotas2:</label>
                    <input class="kilosProd" type="number" name="cantCuotasSegunKg2" id="cuotasProducto2" placeholder="cuotas por kg - Opcion 2" >
                    <label for="stockProducto">stock2: <%= products.foods.length > 0 ? products.foods[1]?.stock :'not' %></label>
                    <input class="stoProd" type="number" name="stockAlimento2" id="stockAlimento2" placeholder="Stock inicial del producto">
                </div>

                <div class = "kg-producto">
                    <label for="id3">id(<%= products.foods.length > 0 ? products.foods[2]?.id :'not' %>)</label>
                    <input class="kilosProd" type="number" name="idAlimento3" id="id3" placeholder="id del alimento" >
                    <label for="kilosProducto3">Kg3: <%= products.foods.length > 0 ? products.foods[2]?.weight :'not' %></label>
                    <input class="kilosProd" type="number" name="kg3" id="kilosProducto3" placeholder="Cantidad de kg - Opcion 3" >
                    <label for="precioProducto3">precio3: <%= products.foods.length > 0 ? products.foods[2]?.cost_x_bag :'not' %></label>
                    <input class="kilosProd" type="number" name="precio3" id="precioProducto3" placeholder="Precio por kg - Opcion 3" >
                    <label for="cuotaProducto3">cuotas3:</label>
                    <input class="kilosProd" type="number" name="cantCuotasSegunKg3" id="cuotasProducto3" placeholder="cuotas por kg - Opcion 3" >
                    <label for="stockProducto">stock3: <%= products.foods.length > 0 ? products.foods[2]?.stock :'not' %></label>
                    <input class="stoProd" type="number" name="stockAlimento3" id="stockAlimento3" placeholder="Stock inicial del producto">
                </div>
        
            </fieldset>
           <% } else { %>
                <fieldset>
                <legend>Precio</legend>


                <div class = "precio-producto">
                    <label for="precioProducto">AR$: <%= products.cost %></label>
                    <input class="precioProd" type="number" name="precio" id="precioProducto" placeholder="Precio del producto">

                </div>
        

            </fieldset>


            <fieldset>
                <legend>Cantidad de cuotas</legend>


                <div class = "cuotas-producto">
                    <label for="cuotasProducto">Cuotas: <%= products.quotesQuantity %></label>
                    <input class="cuotasProd" type="number" name="cantidadCuotas" id="cantidadCuotas" placeholder="Cantidad de cuotas del producto" >

                </div>
        

            </fieldset>

            <fieldset>
                <legend>Stock</legend>

                <div class = "stock-producto">
                    <label for="stockProducto">Stock: <%= products.stock %></label>
                    <input class="stoProd" type="number" name="stock" id="stock" placeholder="Stock inicial del producto" >

                </div>       

            </fieldset>
          <%  } %>
            
            <div class = "botonSobre">
                <button type="submit" class="botonSobreescribir">Sobreescribir</button>
            </div>  
     
        </form>

        <form action="/products/delete/<%=products.sku %>?_method=DELETE" method="POST">
            <button type="submit" class="action-button delete">ELIMINAR</button> 
        </form>

</main>

<%- include('partials/footer') %>

<!-- <script src="/js/validacionProdEdit.js"></script> -->

</body>


</html>