

<%- include('partials/head') %>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/perfil.css">   <!-- dejo esta linea en este archivo -->
</head>


<body>

    <%- include('partials/header') %>

    <main>

        <div>
            <div class="enlaceEditarUsuario"> 
                
            <!-- href="/products/edit">  redireccion a la vista de edicionporsku, segun archivo rutas.-->
        <a class = "EnlaceEditarusu" href="/users/edituser">Editar Usuario</a>

        </div> 

    
        <% if (locals.miUsuario) { %>    <!-- locals verifica si req.session existe, e importa la data guardadda si existe. -->
            
            <h2>Bienvenid@! <%= miUsuario.name %></h2> 
            <!-- (.name, .email, .image) son nombres especificos de las columnas de la base de datos de la tabla users -->  
            <p>Su correo electrónico es: <%= miUsuario.email %> </p>
            <img class="imagenPerfil" src="/images/users/<%= miUsuario.image %> " alt="imagen"> 
                      

        <% }  else { %>
            <p>El usuario no esta logueado</p>
          
            <% } %>  
            
            <br>
            <br>
            <div class="card mb-5">
                <div class="card-header">
                    Mis Pedidos
                </div>
                <div class="card-body">
                    <table class="table table-responsive-md mb-0">
                        <thead>
                            <tr>
                                <th style="width: 50px;">
                                    <strong>#</strong>
                                </th>
                                <th class="th-lg">
                                    <strong>Fecha</strong>
                                </th>
                                <th class="th-lg">
                                    <strong>Envío</strong>
                                </th>
                                <th class="th-lg">
                                    <strong>Pago</strong>
                                </th>
                                <th>
                                    <strong>Total</strong>
                                </th>
                                <th style="width: 50px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% orders.forEach((order,index)=> { %>
                                <tr>
                                    <th scope="row">
                                        <%= index + 1 %>
                                    </th>
                                    <td>
                                        <%= new Intl.DateTimeFormat('es-ES', { year: 'numeric' , month: 'numeric' ,
                                            day: '2-digit' ,hour: 'numeric' , minute: 'numeric'
                                            }).format(order.createdAt) %>
                                    </td>
                                    <td>
                                        <%= order.shippingMethod %>
                                    </td>
                                    <td>
                                        <%= order.paymentMethod %>
                                    </td>
                                    <td>$ <%= order.total %>
                                    </td>
                                    <td><a class="btn btn-warning btn-sm" href="<%= `/order/${order.id}` %> "><i
                                                class="fas fa-eye"></i></a>
                                    </td>
                                </tr>
                                <% }); %>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
          
   

    </main>
    
    <%- include('partials/footer') %>


</body>

</html>