

<%- include('partials/head') %>

<link rel="stylesheet" href="/css/perfil.css">   <!-- dejo esta linea en este archivo -->
</head>


<body>

    <%- include('partials/header') %>

    <main>


        <div class="enlaceEditarUsuario"> 
                
            <!-- href="/products/edit">  redireccion a la vista de edicionporsku, segun archivo rutas.-->
        <a class = "EnlaceEditarusu" href="/users/edituser">Editar Usuario</a>

        </div> 

    
        <% if (locals.miUsuario) { %>    <!-- locals verifica si req.session existe, e importa lada data guardadda si existe. -->
            <p>Bienvenid@ <%= miUsuario.name %> !</p>    <!-- (.name, .email, .image) son nombres especificos de las columnas de la base de datos de la tabla users -->  
            <p>Su correo electrónico es: <%= miUsuario.email %> </p>
            <img class="imagenPerfil" src="/images/users/<%= miUsuario.image %> " alt="imagen"> 
                      

        <% }  else { %>
            <p>El usuario no esta logueado</p>
          
            <% } %>  
            
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
                        
   

    </main>
    
    <%- include('partials/footer') %>

  


</body>

</html>